@CHARSET "ISO-8859-1";


body {
	background: radial-gradient(#FFFFFF, #EEEEEE);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
}

.form {
	width: 300px;
	margin: 80px auto;
	font-family: sans-serif;
	
}

.topform {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #4477ff;
	width: 100%;
	padding: 15px 30px;
	color: white;
	font-weight: bold;
}

.bottomform {
	background: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	width: 100%;
	padding: 40px 30px;
}

.form label {
	display: inline-block;
	width: 70px;
	font-family: sans-serif;
}

.botao {
	background: linear-gradient(orange, #ff8000);
	color: white;
	border-radius: 5px;
	border-style: none;
	font-weight: bold;
	padding: 5px 50px;
	display: block;
	margin: 30px auto;
	font-size: medium;
}

.botao:hover {
	background: #d08000;
	
}

.txtfield {
	display: block;
	border-radius: 5px;
	border: 1px solid silver;
	width: 250px;
	margin: 10px auto;
	padding: 10px;
	background: #f4f4f4;
}


