@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
}

h1, h2, h3 {
	color: navy;
}

label {
	display: inline-block;
	width: 100px;
}

/*btn********************************************/
.btn {
	background: #4a9cff;
	border-color: #006ff4;
	color: white;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	text-decoration: none;
	font: normal;
	padding: 10px 20px;
	display: inline-block;
	margin: 10px;
}

.btn:hover {
	background: #0475ff;
	border-color: #0053b9;	
}

.btn:focus {
	background: #0053b9;
	border-color: #0053b9;
}

/*btn-orange*********************/
.btn-orange {
	background: #ffa346;
	border-color: #ff8204;
}

.btn-orange:hover {
	background: #fd7e00;
	border-color: #c46200;
}

.btn-orange:focus {
	background: #c46200;
	border-color: #c46200;
}

/*btn-red*************************/
.btn-red {
	background: #e14a4a;
	border-color: #a01b1b;
}

.btn-red:hover {
	background: #d02222;
	border-color: #5f1010;
}

.btn-red:focus {
	background: #5f1010;
	border-color: #5f1010;
}

/*btn-green***********************/
.btn-green {
	background: #63af50;
	border-color: #427335;
}

.btn-green:hover {
	background: #4d863e;
	border-color: #294921;
}

.btn-green:focus {
	background: #294921;
	border-color: #294921;
}
/***********************************************/

input[type=text], input[type=password], textarea, select {
	display: inline;
	border-radius: 5px;
	border: 1px solid silver;
	margin: 10px;
	padding: 3px;
	background: #f4f4f4;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus , input[type=password]:focus, textarea:focus, select:focus {
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}


.tabela {
	margin: 10px;
	border-collapse: collapse;
	width: 90%;
}

.tabela th, .tabela td {
	text-align: left;
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 1px 10px;
}

.tabela th {
    background-color: #0166fe;
    color: white;
}

.tabela tr:hover {background-color: #f5f5f5}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.erro {
	display: block;
	color: red;	
}